extends layout

block content
    script(src="http://cdn.auth0.com/js/lock/10.13/lock.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.1.1.js")


    div#login
        button.btn Login
    #logged(style='display: none;')
        h4 You are logged in
        h3 Profile:
        img#avatar(alt='')
        p
            strong Name: 
            span#name
        p
            strong Email: 
            span#email
        p
            strong Nickname: 
            span#nickname
        a#logout(href='#') Logout

    script.
        var userProfile;
        var userToken;
        var id_token = localStorage.getItem('id_token');
        var access_token = localStorage.getItem('access_token');
        var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}');
        $('#login button').click(function (e) {
            e.preventDefault();
            lock.show();
        });

        $('#logout').click(function(e) {
            e.preventDefault();
            localStorage.removeItem('id_token');
            localStorage.removeItem('access_token');
            $('#login').show();
            $('#logged').hide();
            $('#name').empty();
            $('#email').empty();
            $('#nickname').empty();
        });

        if(id_token && access_token)
            getProfile(id_token, access_token);

        lock.on("authenticated", function(authResult) {
            getProfile(authResult.idToken, authResult.accessToken);
        });
        function getProfile(idToken, accessToken) {
            lock.getUserInfo(accessToken, function (err, profile) {
                if (err) {
                    console.log('Cannot get user', err);
                    return;
                }
                console.log('connected and authenticated');
                userProfile = profile;
                localStorage.setItem('id_token', idToken);
                localStorage.setItem('access_token', accessToken);
                userToken = idToken;
                showProfile();
            });
        }

        function showProfile() {
            var socket = io();
            socket
                .on('connect', function (msg) {
                    console.log("connected");
                    socket.emit('authenticate', {token: userToken}); // send the jwt
                })
                .on('authenticated', function () {
                    //Do
                    $('#login').hide();
                    $('#logged').show();
                    $('#name').text(userProfile.name);
                    $('#email').text(userProfile.email);
                    $('#nickname').text(userProfile.nickname);
                })
                .on('unauthorized', function(msg){
                    console.log("unauthorized: " + JSON.stringify(msg.data));
                    throw new Error(msg.data.type);
                });
        };
